html {
  background-color: black;
}

#volumeValue {
  display: none;
  position: fixed;
  margin-top: 17px;
  margin-left: 65px;
  font-family: Audiowide, sans-serif;
  font-size: 12px;
  color: #fff;
  background-color: #000;
  -webkit-transition: opacity 1.5s 0s ease;
  -moz-transition: opacity 1.5s 0s ease;
  -o-transition: opacity 1.5s 0s ease;
  transition: opacity 1.5s 0s ease;
}
.slider {
  -webkit-appearance: none;
  width: 100px;
  height: 3px;
  margin: 8px;
  background: linear-gradient(90deg, rgba(101, 101, 101, 1) 60%, rgba(191, 0, 24, 1) 100%);
  outline: 0;
  position: fixed;
  margin-top: 23px;
  margin-left: 120px;
  opacity: 0.7;
}
.slider:hover {
  opacity: 1;
}
/* GIP SAFETY+ CSS */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);#dialogbox,#dialogoverlay{display:none;background:#1a1a1a;z-index:10;top:0;left:0}.pure-material-button-contained::after,.pure-material-button-contained::before{content:"";background-color:rgb(var(--pure-material-onprimary-rgb,255,255,255));opacity:0}#dialogbox>div>#dialogboxbody,#dialogbox>div>#dialogboxhead{color:#fff;font-family:'Roboto Mono';background-color:#1a1a1a}@font-face{font-family:'Roboto Mono';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/robotomono/v23/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}.slit-in-vertical{-webkit-animation:.45s ease-out both slit-in-vertical;animation:.45s ease-out both slit-in-vertical}@-webkit-keyframes slit-in-vertical{0%{-webkit-transform:translateZ(-800px) rotateY(90deg);transform:translateZ(-800px) rotateY(90deg);opacity:0}54%{-webkit-transform:translateZ(-160px) rotateY(87deg);transform:translateZ(-160px) rotateY(87deg);opacity:1}100%{-webkit-transform:translateZ(0) rotateY(0);transform:translateZ(0) rotateY(0)}}@keyframes slit-in-vertical{0%{-webkit-transform:translateZ(-800px) rotateY(90deg);transform:translateZ(-800px) rotateY(90deg);opacity:0}54%{-webkit-transform:translateZ(-160px) rotateY(87deg);transform:translateZ(-160px) rotateY(87deg);opacity:1}100%{-webkit-transform:translateZ(0) rotateY(0);transform:translateZ(0) rotateY(0)}}#dialogoverlay{opacity:.9;position:fixed;width:100%}#dialogbox{position:absolute;border-radius:7px;box-shadow:0 4px 8px 0 rgba(0,0,0,.575);transition:.3s;width:50%;right:0;margin:auto}#dialogbox:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,.911)}.container{padding:2px 16px}.pure-material-button-contained{position:relative;display:inline-block;box-sizing:border-box;border:none;border-radius:4px;padding:0 16px;min-width:64px;height:36px;vertical-align:middle;text-align:center;text-overflow:ellipsis;text-transform:uppercase;color:rgb(var(--pure-material-onprimary-rgb,255,255,255));background-color:#7b6a46;box-shadow:0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);font-family:'Roboto Mono';font-size:18px;font-weight:500;line-height:36px;overflow:hidden;outline:0;cursor:pointer;transition:box-shadow .2s}.pure-material-button-contained::-moz-focus-inner{border:none}.pure-material-button-contained::before{position:absolute;top:0;bottom:0;left:0;right:0;transition:opacity .2s}.pure-material-button-contained::after{position:absolute;left:50%;top:50%;border-radius:50%;padding:50%;width:32px;height:32px;transform:translate(-50%,-50%) scale(1);transition:opacity 1s,transform .5s}.pure-material-button-contained:focus,.pure-material-button-contained:hover{box-shadow:0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12)}.pure-material-button-contained:hover::before{opacity:.08}.pure-material-button-contained:focus::before{opacity:.24}.pure-material-button-contained:hover:focus::before{opacity:.3}.pure-material-button-contained:active{box-shadow:0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12)}.pure-material-button-contained:active::after{opacity:.32;transform:translate(-50%,-50%) scale(0);transition:transform}.pure-material-button-contained:disabled{color:rgba(var(--pure-material-onsurface-rgb,0,0,0),.38);background-color:rgba(var(--pure-material-onsurface-rgb,0,0,0),.12);box-shadow:none;cursor:initial}.pure-material-button-contained:disabled::after,.pure-material-button-contained:disabled::before{opacity:0}#dialogbox>div{background:#fff;margin:8px}#dialogbox>div>#dialogboxhead{font-size:24px;padding:10px}#dialogbox>div>#dialogboxbody{padding:20px}#dialogbox>div>#dialogboxfoot{background-color:#1a1a1a;padding:10px;text-align:right}a{color:#7b6a46;text-decoration:none!important}.gipcode{font-size:larger}
/* END OF GIP SAFETY+ CSS */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  border-radius: 50%;
  height: 20px;
  background: url(https://deseoradio.com/wp-content/uploads/2023/01/holder.png);
  cursor: pointer;
}
.slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  border-radius: 50%;
  height: 20px;
  background: url(https://deseoradio.com/wp-content/uploads/2023/01/holder.png);
  cursor: pointer;
}
#playPause {
  background-image: url(https://deseoradio.com/wp-content/uploads/2023/01/play.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}
#playPause.paused {
  background-image: url(https://deseoradio.com/wp-content/uploads/2023/01/pause.png);
}
.deseonewppbtn {
  border: none; z-index: 9999;
  width: 50px;
  height: 50px;
  background-color: #000;
  border-radius: 100%;
  -webkit-transition: 0.7s;
}
.deseonewppbtn:hover {
  position: relative;
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 999;
}
.statusDeseo {
  position: fixed;
  width: 50px;
  margin-left: 10px;
  margin-top: 15px;
}
